.login-link{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}
.custom-btn-success{
    color:#fff;
    background:#408440
    
}
button:disabled{
    cursor: not-allowed;
}
.cutom-header{
    font-size: 25px;
    font-weight: 500;
}