<div class="container-fluid">
    <div class="">
<div class="dasboard-header">Welcome in Dashboard </div>
<i class="fas fa-sign-out-alt" (click)="logOut()"></i>
</div>
<!-- <a class="btn-floating-top-custom" 
>
<input type="file" id="file" [hidden]="true" (change)="uploadProfileImage($event.target.files)"><i class="fa fa-plus custom-plus"></i
></a> -->
<div class="auto">
    <label>
        <!-- <input type="file" id="file" [hidden]="true" (change)="uploadProfileImage($event.target.files)"> -->
        <a class="btn-floating-top-custom" 
        >
        <input type="file" id="file" [hidden]="true" (change)="uploadProfileImage($event)"><i class="fa fa-plus custom-plus"></i
        ></a>
    </label>
    </div>
</div> 